bin/*
bbpush
.svn*n
pullfromc4dt
@dot/*
help
products
TypingTestProject
C4DTUpdateSite/features/*
C4DTUpdateSite/plugins/*
C4DTUpdateSite/artifacts.jar
C4DTUpdateSite/content.jar
Eclipse Cocoa 64Bit
buildscript/*
Buildscript.zip
licenses/*
l10n_template/*
copy_engine_to_res
C4DTMapeNative/*
C4DTMape/*
*.savedSearch
*.orig
C4DT/.settings/org.eclipse.core.resources.prefs
net.arctics.clonk
C4DT/doc/*
snippets/*
*.settings/*
C4DTBuild
Instance
CREditor
workspaces
study
cli
