<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="C4Script Editor"
            icon="icons/c4scriptIcon.png"
            contributorClass="net.arctics.clonk.ui.editors.EditorActionContributor"
            class="net.arctics.clonk.ui.editors.C4ScriptEditor"
            id="clonk.editors.C4ScriptEditor"
            filenames="*.c">
            <contentTypeBinding contentTypeId="net.arctics.clonk.c4script">
            </contentTypeBinding>
      </editor>

      <editor
            name="C4DefCore Editor"
            icon="icons/c4scriptIcon.png"
            contributorClass="net.arctics.clonk.ui.editors.EditorActionContributor"
            class="net.arctics.clonk.ui.editors.C4DefCoreEditor"
            id="clonk.editors.C4DefCoreEditor"
            filenames="DefCore.txt">
            <contentTypeBinding contentTypeId="net.arctics.clonk.c4defcore">
            </contentTypeBinding>
      </editor>
   </extension>
   
<extension 
	point="org.eclipse.core.resources.natures" 
	id="clonknature"
	name="Clonk Nature">
	<runtime>
		<run class="net.arctics.clonk.resource.ClonkProjectNature">
		</run>
	</runtime>
	<builder id="net.arctics.clonk.builder"/>
</extension>
   
  <extension point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="net.arctics.clonk.c4files"
           file-names="Script.c"
           id="net.arctics.clonk.c4script"
           name="C4Script files"
           priority="high">
     </content-type>
	<content-type id="net.arctics.clonk.c4files" name="Clonk files" 
		priority="normal"/>
 <content-type
       base-type="net.arctics.clonk.c4files"
       file-names="DefCore.txt"
       id="net.arctics.clonk.c4defcore"
       name="C4Object definitions"
       priority="high">
 </content-type>
 <content-type
       base-type="net.arctics.clonk.c4files"
       file-names="ActMap.txt"
       id="net.arctics.clonk.c4actmap"
       name="C4Object actions"
       priority="high">
 </content-type>
</extension>
   



<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Clonk"
            icon="icons/Clonk_C4.png"
            class="net.arctics.clonk.ui.ClonkPerspective"
            id="net.arctics.clonk.clonkPerspective">
      </perspective>
</extension>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/projectNatureIcon.png"
            natureId="net.arctics.clonk.clonknature"
            id="net.arctics.clonk.clonkNatureIcon">
      </image>
   </extension>

<extension point="org.eclipse.ui.navigator.navigatorContent">
	<navigatorContent name="ClonkResourceNavigation" 
		priority="high" icon="icons/Clonk_Object.ico" 
		activeByDefault="true" 
		contentProvider="net.arctics.clonk.ui.navigator.ClonkNavigator"
		labelProvider="net.arctics.clonk.ui.navigator.ClonkLabelProvider"
		providesSaveables="false"
		id="net.arctics.clonk.navigator.resourceContent">
		<triggerPoints>
			<or>
				<instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<instanceof value="org.eclipse.core.resources.IFolder"/>
				<instanceof value="org.eclipse.core.resources.IResource"/>
			</or>
		</triggerPoints>
		<possibleChildren>
			<or>
				<instanceof value="org.eclipse.core.resources.IWorkspaceRoot"/>
				<instanceof value="org.eclipse.core.resources.IProject"/>
				<instanceof value="org.eclipse.core.resources.IResource"/>
				<instanceof value="org.eclipse.core.resources.IFolder"/>
				<instanceof value="org.eclipse.core.resources.IFile"/>
			</or>
		</possibleChildren>
  <actionProvider
        class="net.arctics.clonk.ui.navigator.ClonkActionProvider"
        id="clonkActionProvider"
        priority="normal">
  </actionProvider>
	</navigatorContent>
</extension>

	<extension
			point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="net.arctics.clonk.navigator.resourceContent" />
			</includes>
		</viewerContentBinding>
	</extension>

<extension point="org.eclipse.ui.newWizards">
	<category
       id="net.arctics.clonk.clonkProjects"
       name="Clonk"
       parentCategory="org.eclipse.ui.Basic">
	</category>
	<wizard id="net.arctics.clonk.newClonkProject" name="Clonk Project"
		category="net.arctics.clonk.clonkProjects"
		icon="icons/Clonk_C4Chip.ico"
		class="net.arctics.clonk.ui.wizards.NewClonkProject"
		project="true"
		finalPerspective="net.arctics.clonk.clonkPerspective"
		>
		<description>
     Create an empty Clonk project
		</description>
		<selection class="org.eclipse.core.resources.IWorkspaceRoot"/>
	</wizard>
 <wizard
       category="net.arctics.clonk.clonkProjects"
       class="net.arctics.clonk.ui.wizards.NewC4Object"
       hasPages="true"
       icon="icons/C4Object.png"
       id="net.arctics.clonk.wizards.NewC4Object"
       name="Object definition"
       project="false">
 </wizard>
</extension>

<extension point="org.eclipse.ui.importWizards">
	<category id="net.arctics.clonk.clonkProjects" name="Clonk">
	</category>
	<wizard id="net.arctics.clonk.importClonkData" name="Import c4d, c4f, etc to project"
		category="net.arctics.clonk.clonkProjects"
		icon="icons/Clonk_C4Chip.ico"
		class="net.arctics.clonk.ui.wizards.ImportClonkFiles">
		<description>
     Import project clonk data to current project. E.g. your scenarios or objects of your project. 
		</description>
		<selection class="org.eclipse.core.resources.IResource"/>
	</wizard>
</extension>

<extension point="org.eclipse.ui.exportWizards">
	<category id="net.arctics.clonk.clonkProjects" name="Clonk">
	</category>
	<wizard id="net.arctics.clonk.exportClonkData" name="Export project item to Clonk dir"
		category="net.arctics.clonk.clonkProjects"
		icon="icons/Clonk_C4Chip.ico"
		class="net.arctics.clonk.ui.wizards.ExportClonkFiles">
		<description>
     Exports the selected project item to your Clonk directory. That is for instance a scenario or an object of your project. 
		</description>
		<selection class="org.eclipse.core.resources.IFolder"/>
	</wizard>
</extension>

<!--<extension id="preferences" point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="net.arctics.clonk" class="net.arctics.clonk.ui.ClonkProjectPreferences"/>
</extension>-->

   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Clonk"        
            class="net.arctics.clonk.ui.ClonkProjectProperties"
            id="net.arctics.clonk.projectProperties">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature"/>
		     </adapt>         
         </enabledWhen>
         <!--<keywordReference id="org.eclipse.jdt.ui.buildpath"/>-->
      </page>
   </extension>

 <extension point="org.eclipse.ui.ide.resourceFilters">
  <filter pattern="*.c4d" selected="false">
  <description>
     Clonk object file
  </description>
  </filter>
 </extension>
 
    <extension id="builder" name="C4 Builder" point="org.eclipse.core.resources.builders"> 
      <builder hasNature="true"> 
         <run class="net.arctics.clonk.resource.ClonkBuilder"> 
         </run> 
      </builder> 
   </extension>
    <extension
          point="org.eclipse.ui.preferencePages">
       <page
             class="net.arctics.clonk.preferences.ClonkPreferencePage"
             id="net.arctics.clonk.preferences.ClonkPreferencePage"
             name="Clonk">
       </page>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="net.arctics.clonk.preferences.PreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <category
             id="net.arctics.clonk"
             name="Clonk">
       </category>
       <view
             category="net.arctics.clonk"
             class="net.arctics.clonk.ui.EngineIdentifiersView"
             icon="icons/Clonk_C4.png"
             id="net.arctics.clonk.views.EngineIdentifiersView"
             name="Engine identifiers">
       </view>
    </extension>
    <extension
          id="net.arctics.clonk.externliberror"
          name="Extern library error"
          point="org.eclipse.core.resources.markers">
          <persistent value="true"/>
          <super type="org.eclipse.core.resources.problemmarker"/>
    </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Clonk action set"
            description="Several Clonk specific actions"
            visible="true"
            id="net.arctics.clonk.ui.actionset">
         <action
               id="net.arctics.clonk.ui.actions.OpenObject"
               toolbarPath="org.eclipse.search.searchActionSet/Search"
               class="net.arctics.clonk.ui.editors.actions.OpenObject"
               definitionId="org.eclipse.jdt.ui.navigate.open.type"
               icon="$nl$/icons/Clonk_C4.png"
               label="Open Object"
               menubarPath="navigate/open.ext2"
               tooltip="Open Object">
         </action>
</actionSet>
</extension>

<extension
         point="org.eclipse.ui.commands">
      <command
            name="Open Object"
            description="Open Object Description"
            categoryId="org.eclipse.ui.category.edit"
            id="net.arctics.clonk.ui.open.object">
      </command>
         <command
         	name="Convert old code to new code"
         	categoryId="org.eclipse.ui.category.edit"
         	description="Converts old code to new code"
         	id="net.arctics.clonk.ui.editors.actions.ConvertOldCodeToNewCode"
         >
         </command>
</extension>

   <extension
         point="org.eclipse.ui.bindings">
      <key
            sequence="M1+M2+T"
            commandId="net.arctics.clonk.ui.open.object"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

</extension>
  
<!--<extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.ui.category.project"
          defaultHandler="net.arctics.clonk.ui.editors.actions.IndexClonkDir"
          description="Starts the indexer"
          id="net.arctics.clonk.indexClonkCommand"
          name="Index Clonk directory">
          
    </command>
 </extension> -->
</plugin>
