div#bottom
{
	width: 804px;
	height: 700px;
/*	min-height: 700px;*/
	background-image: url('images/design/bottom_clear.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}
div#body
{
	width: 804px;
	height: 700px;
/*	min-height: 700px;*/
	background-image: url('images/design/head.jpg'); 
	background-repeat: no-repeat;
	background-position: top;
}