/* Arco mandatory */
.struct_zone {
	background-color: #666666;
	border-color: red;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	padding: 0px 0px 0px 0px;
	border-spacing: 0px 0px;
	
}

/* General */
body
	{
	background-color: #101010;
	background-image: url('images/design/background.jpg');
	background-repeat: repeat-x;
	background-position: top;

	font-family: Tahoma, Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  color: #000000;

	margin: 0px;
	}

/* Links */
a:link
	{
	color: #111111;
	text-decoration: underline;
	}
a:visited
	{
	color: #111111;
	text-decoration: underline;
	}
a:hover
	{
	color: #444444;
	text-decoration: none;
	}
a:active
	{
	color: #444444;
	text-decoration: underline overline;
	}

.unplain
	{
	text-decoration: none;
	}
	
a:before
{

}

/* Tabellen-Definitionen */
table
	{
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;

	margin: 0px;
	padding: 0px;

	font-family: Tahoma, Arial;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	}

.whiteBorderTable {
	font-size: 12px;
	border-spacing: 1px;
	background-color: transparent;
	border-collapse: separate;
	border-color: transparent;
}

/*.whiteBorderTable {
	border-collapse: separate;
}*/

.whiteBorderTable tr {
	border-collapse: separate;
}

.whiteBorderTable td {
	text-align: center;
	/*border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;*/
	background-image: url(images/design/table_background.png);
	background-color: transparent;
	padding: 4px;
	margin: 4px 4px 4px 4px;
	border-collapse: separate;
	border-spacing: 1px;
	/*border: 1px solid;*/
	border-color: transparent;
}

.whiteBorderHead {
	text-align: left !important;
	background-image: url(images/design/table_head_background.png) !important;
}

.whiteBorderHead td {
	background-image: url(images/design/table_head_background.png) !important;
}

.hidden
{

	border-style: solid;
	border-width: 0px;
	border-color: #000000;
	background-color: #CCCCCC;
	display: none;
}

.blackBorder
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.topicLine
{
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}

.box
{

}

.topic
{
	font-family: Tahoma, Verdana;
	font-size: 15px;
	font-weight: bold;
}

	/* DESIGN */
div#back
{
	position: relative;
	margin-left: -402px;

	width: 804px;
	min-height: 700px;

	top: 0px;
	left: 50%;
  
	background-image: url('images/design/body.jpg');
	background-repeat: repeat-y;
	background-position: top;
}
div#bottom
{
	width: 804px;
	min-height: 700px;
/*	height: 700px;*/
	background-image: url('images/design/bottom_clear.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}
div#body
{
	width: 804px;
	min-height: 700px;
	/*height: 700px;*/
	background-image: url('images/design/head.jpg');
	background-repeat: no-repeat;
	background-position: top;
}
div#content
{
	/* padding: 66px 0px 52px 180px;*/    /* top right bottom left */
	padding: 283px 0px 52px 180px;
	width: 567px;
}
div#navigation_head
{
	width: 804px;
	
	text-align: right;
}
div#navigation
{
	padding: 86px 0px 0px 5px;
	margin-bottom: -308px;
}
div#language
{
	width: 100%;
	text-align: center;
	color: #353535;
	
	font-size: 9px;
	
	/*margin: -47px 0px 47px 0px;   ADJUST LINE BELOW*/
	margin: -135px 0px 47px 0px;
}
div#copyright
{
	width: 100%;
	text-align: center;
	color: #353535;
	
	font-size: 9px;
	
	padding: 0px 0px 20px 0px;
}

div#languageChoser
{
	border-style: solid;
	border-width: 1px;
	border-color: blue;
	width: 200px;
	height: 200px;
	float: left;
}

div#welcomeText
{
	border-style: solid;
	border-width: 1px;
	border-color: yellow;
}

div#newsBox
{
	border-style: solid;
	border-width: 1px;
	border-color: green;
	height: 500px;
	width: 100%;
}

.errorBox
{
	border-style: solid;
	border-width: 1px;
	border-color: red;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	font-weight: bold;
	padding: 3px;
}

/* Rows */
tr
	{
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;

	margin: 0px;
	padding: 0px;
	}


/* Columns */
td
	{
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;

	margin: 0px;
	padding: 0px;

	text-align: left;
	vertical-align: top;
	}

/* Images */
img
	{
	border: none;
	vertical-align: top;
	text-align: center;
	}



/* Tables */
.table_default
	{
	width: 100%;
	height: 100%;
	}


/* Text */
.text_default
	{
	font-family: Verdana, Arial;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #2D0016;
	}


/* Forms - to do */
form input
	{
	color: #2D0016;
	border: 1px solid #C0C0C0;
	font: normal normal 10px Verdana, Arial;
	line-height: normal;
	margin: 0 0 9px 0;
	}
form textarea
	{
	color: #2D0016;
	border: 1px solid #C0C0C0;
	font: normal normal 10px Verdana, Arial;
	line-height: normal;
	margin: 0 0 9px 0;
	}
form .input_text
	{
	background: #EDF1FA url("/images/bg_form_text.gif") no-repeat top left;

	padding: 3px 5px 3px 3px;
	height: 20px;
	width: 184px;
	}
form .input_textarea
	{
	background: #EDF1FA url("/images/bg_form_textarea.gif") no-repeat top left;

	padding: 3px 5px 3px 3px;
	height: 100px;
	overflow: hidden;

	height: 100px;
	width: 300px;
	}
form .submit	{
	background: #EDF1FA url("/images/bg_form_text.gif") no-repeat top left;
	color: #2D0016;

         border: 1px solid #C0C0C0;
	height: 20px;
	width: 184px;
	}
form select
	{
	background-color: #EDF1FA;
	color: #2D0016;
	border: 1px solid #C0C0C0; 
	font: normal normal 10px Verdana, Arial;
	line-height: normal;
	margin: 0 0 9px 0;

	}
	
	