<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor name="%C4ScriptEditor_Name" icon="icons/c4scriptIcon.png"
			contributorClass="net.arctics.clonk.ui.editors.c4script.EditorActionContributor"
			class="net.arctics.clonk.ui.editors.c4script.C4ScriptEditor" id="clonk.editors.C4ScriptEditor"
			filenames="*.c, Script.c">
			<contentTypeBinding contentTypeId="net.arctics.clonk.c4script" />
		</editor>

		<editor name="%IniEditor_Name" icon="icons/c4scriptIcon.png"
			class="net.arctics.clonk.ui.editors.ini.IniTextEditor" id="clonk.editors.IniEditor"
			filenames="*.txt">
			<contentTypeBinding contentTypeId="net.arctics.clonk.inifile" />
		</editor>

		<editor name="%LandscapeTextEditor_Name" icon="icons/c4scriptIcon.png"
			class="net.arctics.clonk.ui.editors.mapcreator.MapCreatorEditor" id="clonk.editors.MapCreatorEditor"
			filenames="Landscape.txt">
			<contentTypeBinding contentTypeId="net.arctics.clonk.mapcreatorfile" />
		</editor>
	</extension>

	<extension point="org.eclipse.core.resources.natures" id="clonknature"
		name="Clonk Nature">
		<runtime>
			<run class="net.arctics.clonk.resource.ClonkProjectNature" />
		</runtime>
		<builder id="net.arctics.clonk.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.natures" id="clonkdepsnature" name="Clonk Dependencies Nature">
		<runtime>
			<run class="net.arctics.clonk.resource.DependenciesProjectNature" />
		</runtime>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">

		<content-type id="net.arctics.clonk.c4files" name="%ClonkFiles_Name"
			priority="normal" />

		<content-type base-type="net.arctics.clonk.c4files"
			file-names="Script.c" id="net.arctics.clonk.c4script" name="%C4Script_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.c4files"
			file-names="Landscape.txt" id="net.arctics.clonk.mapcreatorfile" name="%LandscapeText_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.c4files"
			file-extensions="txt" id="net.arctics.clonk.inifile" name="%ClonkConfiguration_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="DefCore.txt" id="net.arctics.clonk.defcore" name="%C4Object_DefCore_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="ActMap.txt" id="net.arctics.clonk.actmap" name="%C4Object_ActMap_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="Scenario.txt" id="net.arctics.clonk.scenariocfg" name="%ScenarioConfiguration_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="Particle.txt" id="net.arctics.clonk.particle" name="%ParticleDefinition_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-extensions="c4m" id="net.arctics.clonk.material" name="%MaterialDefinition_Name"
			priority="high" />

	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective name="Clonk" icon="icons/Clonk_C4.png"
			class="net.arctics.clonk.ui.ClonkPerspective" id="net.arctics.clonk.clonkPerspective" />
		<perspective name="DefSelector" icon="icons/Clonk_C4.png"
			class="net.arctics.clonk.ui.DefSelectorPerspective" id="net.arctics.clonk.defSelectorPerspective" />
	</extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image icon="icons/projectNatureIcon.png" natureId="net.arctics.clonk.clonknature"
			id="net.arctics.clonk.clonkNatureIcon" />

	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent name="%ClonkResources_Name"
			priority="low" icon="icons/Clonk_Object.ico" activeByDefault="true"
			contentProvider="net.arctics.clonk.ui.navigator.ClonkNavigator"
			labelProvider="net.arctics.clonk.ui.navigator.ClonkLabelProvider"
			providesSaveables="false" id="net.arctics.clonk.navigator.resourceContent">
			
			<!--
			<override
				policy="InvokeAlwaysRegardlessOfSuppressedExt"
         		suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
			</override>
			-->
			
			<triggerPoints>
				<or>
					<instanceof value="org.eclipse.core.resources.IResource" />
				</or>
			</triggerPoints>
			
			<possibleChildren>
				<or>
					<instanceof value="org.eclipse.core.resources.IResource" />
					<instanceof value="net.arctics.clonk.util.ITreeNode" />
					<instanceof value="net.arctics.clonk.parser.C4Declaration" />
				</or>
			</possibleChildren>

			<actionProvider class="net.arctics.clonk.ui.navigator.ClonkActionProvider"
				id="clonkActionProvider" priority="normal" />

			<commonSorter class="net.arctics.clonk.ui.navigator.ClonkSorter" id="clonkSorter">
				<parentExpression>
					<or>
						<instanceof value="org.eclipse.core.resources.IResource" />
						<instanceof value="net.arctics.clonk.util.ITreeNode" />
						<instanceof value="org.eclipse.core.resources.IResource" />
					</or>
				</parentExpression>
			</commonSorter>
			
			<dropAssistant id="net.arctics.clonk.ui.navigator.dropAssistant" class="net.arctics.clonk.ui.navigator.DropAssistant">
				<possibleDropTargets>
					<instanceof value="org.eclipse.core.resources.IContainer" />
				</possibleDropTargets>
			</dropAssistant>
			
		</navigatorContent>
	</extension>

	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="net.arctics.clonk.navigator.*" />
			</includes>
		</viewerContentBinding>
	</extension>
	
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="net.arctics.clonk.ui.ClonkProjectProperties"
			id="net.arctics.clonk.projectProperties"
			name="Clonk">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature" />
				</adapt>
			</enabledWhen>
    	</page>
    </extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="net.arctics.clonk.clonkProjects" name="Clonk" />

		<wizard id="net.arctics.clonk.wizards.NewClonkProject" name="%ClonkProject_Name"
			category="net.arctics.clonk.clonkProjects" icon="icons/Clonk_C4Chip.ico"
			class="net.arctics.clonk.ui.wizards.NewClonkProject" project="true"
			finalPerspective="net.arctics.clonk.clonkPerspective">
			<description>
				Create an empty Clonk project
			</description>
			<selection class="org.eclipse.core.resources.IWorkspaceRoot" />
		</wizard>
		
		<wizard category="net.arctics.clonk.clonkProjects" class="net.arctics.clonk.ui.wizards.NewC4Object"
			hasPages="true" icon="icons/C4Object.png" id="net.arctics.clonk.wizards.NewC4Object"
			name="%Definition_Name" project="false" />

		<wizard category="net.arctics.clonk.clonkProjects" class="net.arctics.clonk.ui.wizards.NewScenario"
			hasPages="true" icon="icons/Clonk_scenario.png" id="net.arctics.clonk.wizards.NewScenario"
			name="%Scenario_Name" project="false" />

		<wizard category="net.arctics.clonk.clonkProjects" class="net.arctics.clonk.ui.wizards.NewParticle"
			hasPages="true" icon="icons/Clonk_Particle.png" id="net.arctics.clonk.wizards.NewParticle"
			name="%Particle_Name" project="false" />

	</extension>

	<extension point="org.eclipse.ui.importWizards">
		<category id="net.arctics.clonk.clonkProjects" name="Clonk" />

		<wizard id="net.arctics.clonk.importClonkData" name="Import c4d, c4f, etc to project"
			category="net.arctics.clonk.clonkProjects" icon="icons/Clonk_C4Chip.ico"
			class="net.arctics.clonk.ui.wizards.ImportClonkFiles">
			<description>
				Import scenarios or object packs into the project.
			</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>

	<extension point="org.eclipse.ui.exportWizards">
		<category id="net.arctics.clonk.clonkProjects" name="Clonk" />

		<wizard id="net.arctics.clonk.exportClonkData" name="Export project item to Clonk dir"
			category="net.arctics.clonk.clonkProjects" icon="icons/Clonk_C4Chip.ico"
			class="net.arctics.clonk.ui.wizards.ExportClonkFiles">
			<description>
				Exports the selected project item to your Clonk
				directory. That is for
				instance a scenario or an object of your
				project. 
			</description>
			<selection class="org.eclipse.core.resources.IFolder" />
		</wizard>
	</extension>

	<!--
		<extension id="preferences"
		point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="net.arctics.clonk"
		class="net.arctics.clonk.ui.ClonkProjectPreferences"/> </extension>
	-->


	<extension point="org.eclipse.ui.ide.resourceFilters">
		<filter pattern="*.c4d" selected="false">
			<description>
				Clonk object file
  			</description>
		</filter>
	</extension>

	<extension id="builder" name="C4 Builder"
		point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="net.arctics.clonk.resource.ClonkBuilder" />
		</builder>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page class="net.arctics.clonk.preferences.ClonkPreferencePage"
			id="net.arctics.clonk.preferences.ClonkPreferencePage" name="Clonk" />
		<page class="net.arctics.clonk.preferences.ClonkSyntaxColoringPreferencePage"
			id="net.arctics.clonk.preferences.ClonkSyntaxColoringPreferencePage" name="%ClonkSyntaxColoring"
			category="net.arctics.clonk.preferences.ClonkPreferencePage" />
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="net.arctics.clonk.preferences.PreferenceInitializer" />
	</extension>

	<extension point="org.eclipse.ui.views">
		<category id="net.arctics.clonk" name="Clonk" />

		<view category="net.arctics.clonk" class="net.arctics.clonk.ui.EngineDeclarationsView"
			icon="icons/Clonk_C4.png" id="net.arctics.clonk.views.EngineDeclarationsView"
			name="%EngineDeclarations_Name" />
		
		<view category="net.arctics.clonk" class="net.arctics.clonk.ui.navigator.ClonkPreviewView"
			id="net.arctics.clonk.views.ClonkPreviewView"
			icon="icons/Clonk_C4.png"
			name="%ClonkPreview_Name" />
	</extension>

	<extension id="net.arctics.clonk.externliberror" name="External library error"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
	</extension>
	
	<extension id="net.arctics.clonk.c4scripterror" name="C4Script error"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
	</extension>
	
	<extension id="net.arctics.clonk.inierror" name="Configuration file error"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
	</extension>
	
	<!-- Debugger Breakpoints !-->
	
	<extension id="net.arctics.clonk.breakpointMarker" name="Clonk Breakpoint Marker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.debug.core.breakpointMarker" />
	</extension>
	
	<extension point="org.eclipse.debug.core.breakpoints">
    	<breakpoint
			class="net.arctics.clonk.debug.ClonkDebugLineBreakpoint"
			id="net.arctics.clonk.debug.ClonkDebugLineBreakpoint"
			markerType="net.arctics.clonk.breakpointMarker"
		/>
	</extension>
	
	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			class="net.arctics.clonk.debug.ClonkDebugBreakpointAdapterFactory"
			adaptableType="net.arctics.clonk.ui.editors.c4script.C4ScriptEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget" />
		</factory>
	</extension>

	<extension point="org.eclipse.ui.commands">
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%OpenObject_Desc"
			id="net.arctics.clonk.ui.OpenObject"
			defaultHandler="net.arctics.clonk.ui.editors.actions.c4script.OpenObjectHandler"
			name="%OpenObject_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%OpenLocalResource_Desc"
			id="net.arctics.clonk.ui.OpenLocalResource"
			defaultHandler="net.arctics.clonk.ui.editors.actions.c4script.OpenLocalResourceHandler"
			name="%OpenLocalResource_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%InvokeCommand_Desc"
			id="net.arctics.clonk.ui.InvokeCommand"
			defaultHandler="net.arctics.clonk.command.ui.actions.InvokeCommandHandler"
			name="%InvokeCommand_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%QuickExport_Desc"
			id="net.arctics.clonk.ui.QuickExport"
			defaultHandler="net.arctics.clonk.ui.navigator.QuickExportHandler"
			name="%QuickExport_Name" />
			
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%QuickImport_Desc"
			id="net.arctics.clonk.ui.QuickImport"
			defaultHandler="net.arctics.clonk.ui.navigator.QuickImportHandler"
			name="%QuickImport_Name" />

		<command categoryId="org.eclipse.ui.category.edit"
			description="%ConvertOldCodeToNewCode_Desc"
			id="net.arctics.clonk.ui.editors.actions.ConvertOldCodeToNewCode"
			name="%ConvertOldCodeToNewCode_Desc" />
		
		<command categoryId="org.eclipse.ui.category.edit"
			description="%ConvertOldCodeToNewCode_Desc"
			id="net.arctics.clonk.ui.navigator.actions.ConvertOldCodeInBulk"
			defaultHandler="net.arctics.clonk.ui.navigator.ConvertOldCodeInBulkHandler"
			name="%ConvertOldCodeToNewCode_Desc" />
		
		<command categoryId="org.eclipse.ui.category.edit"
			description="%ImportExternalLib_Desc"
			id="net.arctics.clonk.ui.navigator.actions.ImportExternalLib"
			defaultHandler="net.arctics.clonk.ui.navigator.ImportExternalLibHandler"
			name="%ImportExternalLib_Name" />
		
		<command categoryId="org.eclipse.ui.category.edit"
			description="%LinkC4GroupFile_Desc"
			id="net.arctics.clonk.ui.navigator.actions.LinkC4GroupFile"
			defaultHandler="net.arctics.clonk.ui.navigator.LinkC4GroupFileHandler"
			name="%LinkC4GroupFile_Name"
		/>

		<command categoryId="org.eclipse.ui.category.edit"
			description="%OpenDeclaration_Desc"
			id="net.arctics.clonk.ui.editors.actions.OpenDeclaration"
			name="%OpenDeclaration_Name" />

		<command categoryId="org.eclipse.ui.category.edit"
			description="%FindReferences_Desc"
			id="net.arctics.clonk.ui.editors.actions.FindReferences"
			name="%FindReferences_Name" />

		<command categoryId="org.eclipse.ui.category.edit"
			description="%RenameDeclaration_Desc"
			id="net.arctics.clonk.ui.editors.actions.RenameDeclaration"
			name="%RenameDeclaration_Name" />
		
		<!-- FIXME: what was that supposed to do -->
		<command categoryId="org.eclipse.ui.category.edit"
			description="%DeclarationFilter_Desc"
			id="net.arctics.clonk.ui.editors.actions.DeclarationFilter"
			name="%DeclarationFilter_Name" />

	</extension>

	<extension point="org.eclipse.ui.menus">
	
		<!-- Main menu !-->
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu label="Clonk">
				<command commandId="net.arctics.clonk.ui.OpenObject" label="%OpenObject_Name" />
				<command commandId="net.arctics.clonk.ui.OpenLocalResource" label="%OpenLocalResource_Name" />
				<separator name="SeparatorAfterOpenCommands" visible="true"/>
				<command commandId="net.arctics.clonk.ui.QuickImport" label="%QuickImport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.QuickExport" label="%QuickExport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<separator name="SeparatorAfterImportCommands" visible="true"/>
				<command commandId="net.arctics.clonk.ui.InvokeCommand" label="%InvokeCommand_Name" />
			</menu>
		</menuContribution>
		
		<!-- Project Explorer Menu !-->
		<menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
			<separator name="BeforeClonkMenu" visible="true" />
			<menu label="Clonk">
				<command commandId="net.arctics.clonk.ui.QuickExport" label="%QuickExport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.QuickImport" label="%QuickImport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<separator name="AfterImportExportSeparator" visible="true" />
				<command commandId="net.arctics.clonk.ui.navigator.actions.ConvertOldCodeInBulk" label="%ConvertOldCodeToNewCode_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IResource">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<separator name="AfterCodeConversionSeparator" visible="true" />
				<command commandId="net.arctics.clonk.ui.navigator.actions.ImportExternalLib" label="%ImportExternalLib_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="net.arctics.clonk.resource.ExternalLib">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.navigator.actions.LinkC4GroupFile" label="%LinkC4GroupFile_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject" />
						</iterate>
					</visibleWhen>
				</command>
			</menu>
			<separator name="AfterClonkMenu" visible="true" />
		</menuContribution>
		
	</extension>

	<extension id="product" point="org.eclipse.core.runtime.products">
		<product application="org.eclipse.ui.ide.workbench" name="Eclipse SDK">
			<property name="windowImages" value="icons/eclipse.gif,icons/eclipse32.gif,icons/eclipse48.png,icons/eclipse.png,icons/eclipse32.png" />
			<property name="aboutText" value="%productBlurb" />
			<property name="aboutImage" value="/Clonk/icons/eclipse_lg.gif" />
			<property name="startupForegroundColor" value="C8D5EA" />
			<property name="startupProgressRect" value="0,280,455,15" />
			<property name="startupMessageRect" value="7,220,441,20" />
			<property name="appName" value="Eclipse SDK" />
			<property name="preferenceCustomization" value="plugin_customization.ini" />
		</product>
	</extension>
	
	<extension point="org.eclipse.ui.decorators"><!--icon="icons/C4Object.png"-->
		<decorator adaptable="true"
			class="net.arctics.clonk.ui.LightweightLabelDecorator" id="net.arctics.clonk.decorator"
			label="Resource Decorator" lightweight="true" state="true">
			<enablement>
				<or>
					<objectClass name="org.eclipse.core.resources.IFolder" />
					<objectClass name="org.eclipse.core.resources.IFile" />
					<objectClass name="org.eclipse.core.resources.IProject" />
				</or>
			</enablement>
		</decorator>
	</extension>

	<extension id="ClonkSearchResultPage" point="org.eclipse.search.searchResultViewPages">
		<viewPage id="net.arctics.clonk.ui.ClonkSearchResultPage"
			searchResultClass="net.arctics.clonk.ui.search.ClonkSearchResult"
			class="net.arctics.clonk.ui.search.ClonkSearchResultPage" />
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
	    <sourceLocator
	          class="net.arctics.clonk.debug.ClonkDebugSourceLookupDirector"
	          id="net.arctics.clonk.debug.ClonkDebugSourceLocator"
	          name="Clonk Debug Source Locator">
	    </sourceLocator>
	</extension>
	
	<extension point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
        	class="net.arctics.clonk.ui.debug.ClonkDebugModelPresentation"
        	id="net.arctics.clonk.ui.debug.ClonkDebugModelPresentation">
		</debugModelPresentation>
	</extension>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="net.arctics.clonk.debug.ClonkLaunch"
			delegate="net.arctics.clonk.debug.ClonkLaunchConfigurationDelegate"
			modes="run,debug" name="Clonk" 
			sourceLocatorId="net.arctics.clonk.debug.ClonkDebugSourceLocator"
		/>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage icon="icons/Clonk_engine.png"
			configTypeID="net.arctics.clonk.debug.ClonkLaunch" id="net.arctics.clonk.ui.debug.ClonkLaunchTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup type="net.arctics.clonk.debug.ClonkLaunch"
			class="net.arctics.clonk.ui.debug.ClonkLaunchTabGroup" id="net.arctics.clonk.ui.debug.ClonkLaunch" />
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester id="net.arctics.clonk.resource.ResourceTester"
			namespace="net.arctics.clonk.resource" properties="isScenario,isDefinition,isFolder,isResource,isInScenario,isInClonkProject"
			type="org.eclipse.core.resources.IResource" class="net.arctics.clonk.resource.ResourceTester" />

		<propertyTester id="net.arctics.clonk.resource.ResourceTesterEditor"
			namespace="net.arctics.clonk.resource.editor" properties="isScenario,isDefinition,isFolder,isResource,isInScenario"
			type="org.eclipse.ui.IFileEditorInput" class="net.arctics.clonk.resource.ResourceTester" />

	</extension>

	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut id="net.arctics.clonk.ui.debug.ClonkLaunchShortcut"
			class="net.arctics.clonk.ui.debug.ClonkLaunchShortcut" label="Clonk Scenario"
			icon="$nl$/icons/Clonk_engine.png" modes="run,debug">
			<contextualLaunch>
				<enablement>
					<!--
						Enable only if there is only one element selected and it's a
						resource inside a scenario - or an editor for a resource inside a
						scenario
					-->
					<count value="1" />
					<with variable="selection">
						<iterate>
							<or>
								<and>
									<instanceof value="org.eclipse.core.resources.IResource" />
									<test property="net.arctics.clonk.resource.isInScenario" />
								</and>
								<test property="net.arctics.clonk.resource.editor.isInScenario" />
							</or>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
			<configurationType id="net.arctics.clonk.debug.ClonkLaunch" />
		</shortcut>
	</extension>

	<extension point="org.eclipse.ui.navigator.linkHelper">
		<linkHelper class="net.arctics.clonk.ui.navigator.LinkHelper"
			id="net.arctics.clonk.navigator.linkhelper">
			<selectionEnablement>
				<or>
					<instanceof value="net.arctics.clonk.util.ITreeNode" />
					<instanceof value="net.arctics.clonk.parser.C4Declaration" />
				</or>
			</selectionEnablement>
			<editorInputEnablement>
				<instanceof
					value="net.arctics.clonk.ui.editors.c4script.ScriptWithStorageEditorInput" />
			</editorInputEnablement>
		</linkHelper>
	</extension>

	<extension point="org.eclipse.ui.elementFactories">
		<factory
			class="net.arctics.clonk.ui.editors.c4script.ScriptWithStorageEditorInputFactory"
			id="net.arctics.clonk.ui.editors.scriptWithStorageEditorInputFactory" />
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator markerType="net.arctics.clonk.c4scripterror"
			class="net.arctics.clonk.parser.c4script.quickfix.C4ScriptMarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.viewer">
		<dragAssistant class="net.arctics.clonk.ui.navigator.DragExternalDefsAssistant"
			viewerId="org.eclipse.ui.navigator.ProjectExplorer"/>
	</extension>
	
	<extension point="org.eclipse.core.filesystem.filesystems">
    	<filesystem scheme="c4group">
			<run class="net.arctics.clonk.filesystem.C4GroupFileSystem" />
		</filesystem>
	</extension>

	<!--	
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
        	id="clonk.editors.C4ScriptEditor.popupMenuContributions"
        	targetID="clonk.editors.C4ScriptEditor">
        	<action
               class="c4dt.Action2"
               id="C4DT.action2"
               label="label">
        	</action>
		</viewerContribution>
	</extension>
	!-->

</plugin>
