<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
		<editor name="%C4ScriptEditor_Name" icon="icons/c4scriptIcon.png"
			contributorClass="net.arctics.clonk.ui.editors.c4script.EditorActionContributor"
			class="net.arctics.clonk.ui.editors.c4script.C4ScriptEditor" id="clonk.editors.C4ScriptEditor"
			filenames="*.c, Script.c, *.c4script">
			<contentTypeBinding contentTypeId="net.arctics.clonk.c4script" />
		</editor>

		<editor name="%IniEditor_Name" icon="icons/c4scriptIcon.png"
			class="net.arctics.clonk.ui.editors.ini.IniTextEditor" id="clonk.editors.IniEditor"
			filenames="*.txt">
			<contentTypeBinding contentTypeId="net.arctics.clonk.inifile" />
		</editor>

		<editor name="%LandscapeTextEditor_Name" icon="icons/c4scriptIcon.png"
			class="net.arctics.clonk.ui.editors.landscapescript.LandscapeScriptEditor" id="clonk.editors.LandscapeScriptEditor"
			filenames="Landscape.txt">
			<contentTypeBinding contentTypeId="net.arctics.clonk.landscapescriptfile" />
		</editor>
	</extension>
	
	<extension point="org.eclipse.ui.contexts">
		<context id="net.arctics.clonk.context" name="Clonk Editing" parentId="org.eclipse.ui.textEditorScope">
			
    	</context>
	</extension>

	<extension point="org.eclipse.core.resources.natures" id="clonknature"
		name="Clonk Nature">
		<runtime>
			<run class="net.arctics.clonk.resource.ClonkProjectNature" />
		</runtime>
		<builder id="net.arctics.clonk.builder" />
	</extension>
	
	<extension point="org.eclipse.core.resources.natures" id="c4dt_customization" name="%C4DTCustomization_MenuTitle"> 
		<runtime>
			<run class="net.arctics.clonk.resource.CustomizationNature" />
		</runtime>
	</extension>

	<extension point="org.eclipse.core.contenttype.contentTypes">

		<content-type base-type="org.eclipse.core.runtime.text" id="net.arctics.clonk.c4files" name="%ClonkFiles_Name"
			priority="normal" />

		<content-type base-type="net.arctics.clonk.c4files"
			file-names="Script.c" id="net.arctics.clonk.c4script" name="%C4Script_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.c4files"
			file-names="Landscape.txt" id="net.arctics.clonk.landscapescriptfile" name="%LandscapeText_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.c4files"
			file-extensions="txt" id="net.arctics.clonk.inifile" name="%ClonkConfiguration_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="DefCore.txt" id="net.arctics.clonk.defcore" name="%C4Object_DefCore_Name"
			priority="high" />
	
		<content-type base-type="net.arctics.clonk.inifile"
			file-names="PlayerControls.txt" id="net.arctics.clonk.plrcontroldef" name="%PlayerControlDefinition_Name"
			priority="high" />
		
		<content-type base-type="net.arctics.clonk.inifile"
			file-names="Teams.txt" id="net.arctics.clonk.teamsdef" name="%TeamsDefinition_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="ActMap.txt" id="net.arctics.clonk.actmap" name="%C4Object_ActMap_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="Scenario.txt" id="net.arctics.clonk.scenariocfg" name="%ScenarioConfiguration_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-names="Particle.txt" id="net.arctics.clonk.particle" name="%ParticleDefinition_Name"
			priority="high" />

		<content-type base-type="net.arctics.clonk.inifile"
			file-extensions="c4m,ocm" id="net.arctics.clonk.material" name="%MaterialDefinition_Name"
			priority="high" />
		
		<content-type base-type="net.arctics.clonk.inifile"
			file-names="FolderMap.txt" id="net.arctics.clonk.foldermap" name="%FolderMapDefinition_Name"
			priority="high" />

	</extension>

	<extension point="org.eclipse.ui.perspectives">
		<perspective name="Clonk" icon="icons/Clonk_C4.png"
			class="net.arctics.clonk.ui.ClonkPerspective" id="net.arctics.clonk.clonkPerspective" />
	</extension>

	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image icon="icons/projectNatureIcon.png" natureId="net.arctics.clonk.clonknature"
			id="net.arctics.clonk.clonkNatureIcon" />
	</extension>

	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent name="%ClonkResources_Name"
			priority="high" icon="icons/Clonk_Object.ico" activeByDefault="true"
			contentProvider="net.arctics.clonk.ui.navigator.ClonkNavigator"
			labelProvider="net.arctics.clonk.ui.navigator.ClonkLabelProvider"
			providesSaveables="false"
			id="net.arctics.clonk.navigator.resourceContent">
			
			<!--
			<override
				policy="InvokeAlwaysRegardlessOfSuppressedExt"
         		suppressedExtensionId="org.eclipse.ui.navigator.resourceContent">
			</override>
			-->
			
			<triggerPoints>
				<or>
					<instanceof value="org.eclipse.core.resources.IResource" />
				</or>
			</triggerPoints>
			
			<possibleChildren>
				<or>
					<instanceof value="org.eclipse.core.resources.IResource" />
					<instanceof value="net.arctics.clonk.util.ITreeNode" />
					<instanceof value="net.arctics.clonk.parser.Declaration" />
				</or>
			</possibleChildren>

			<actionProvider class="net.arctics.clonk.ui.navigator.ClonkActionProvider"
				id="clonkActionProvider" priority="normal" />

			<commonSorter class="net.arctics.clonk.ui.navigator.ClonkSorter" id="clonkSorter">
				<parentExpression>
					<or>
						<adapt type="org.eclipse.core.resources.IResource">
							<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature" />
						</adapt>
						<instanceof value="net.arctics.clonk.util.ITreeNode" />
					</or>
				</parentExpression>
			</commonSorter>
			
			<dropAssistant id="net.arctics.clonk.ui.navigator.dropAssistant" class="net.arctics.clonk.ui.navigator.DropAssistant">
				<possibleDropTargets>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature"/>
					</adapt>
				</possibleDropTargets>
			</dropAssistant>
			
			<commonWizard type="new" wizardId="net.arctics.clonk.wizards.NewClonkProject">
				<enablement>
					<!--<adapt type="org.eclipse.core.expressions.IIterable">
						<iterate ifEmpty="true">
							<adapt type="org.eclipse.core.resources.IResource" />
						</iterate>
					</adapt>-->
				</enablement>
			</commonWizard>
			
			<commonWizard type="new" wizardId="net.arctics.clonk.wizards.NewDefinition">
				<enablement>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature"/>
					</adapt>
				</enablement>
			</commonWizard>
			
			<commonWizard type="new" wizardId="net.arctics.clonk.wizards.NewParticle">
				<enablement>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature"/>
					</adapt>
				</enablement>
			</commonWizard>
			
			<commonWizard type="new" wizardId="net.arctics.clonk.wizards.NewScenario">
				<enablement>
					<adapt type="org.eclipse.core.resources.IResource">
						<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature"/>
					</adapt>
				</enablement>
			</commonWizard>
			
		</navigatorContent>
	</extension>

	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension pattern="net.arctics.clonk.navigator.*" />
			</includes>
		</viewerContentBinding>
	</extension>
	
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="net.arctics.clonk.ui.ClonkProjectProperties"
			id="net.arctics.clonk.projectProperties"
			name="Clonk">
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject">
					<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.clonknature" />
				</adapt>
			</enabledWhen>
    	</page>
    </extension>

	<extension point="org.eclipse.ui.newWizards">
		<category id="net.arctics.clonk.clonkProjects" name="Clonk" />
		<category id="net.arctics.clonk.c4dtCustomization" name="%C4DTCustomization" />

		<wizard id="net.arctics.clonk.wizards.NewClonkProject" name="%ClonkProject_Name"
			category="net.arctics.clonk.clonkProjects" icon="icons/project.png"
			class="net.arctics.clonk.ui.wizards.NewClonkProject" project="true"
			finalPerspective="net.arctics.clonk.clonkPerspective">
			<description>
				%CreateEmptyClonkProject
			</description>
		</wizard>
		
		<wizard category="net.arctics.clonk.clonkProjects" class="net.arctics.clonk.ui.wizards.NewDefinition"
			hasPages="true" icon="res/engines/OpenClonk/images/DefinitionGroup.png" id="net.arctics.clonk.wizards.NewDefinition"
			name="%Definition_Name" project="false" />

		<wizard category="net.arctics.clonk.clonkProjects" class="net.arctics.clonk.ui.wizards.NewScenario"
			hasPages="true" icon="res/engines/OpenClonk/images/ScenarioGroup.png" id="net.arctics.clonk.wizards.NewScenario"
			name="%Scenario_Name" project="false" />

		<wizard category="net.arctics.clonk.clonkProjects" class="net.arctics.clonk.ui.wizards.NewParticle"
			hasPages="true" icon="icons/particle.png" id="net.arctics.clonk.wizards.NewParticle"
			name="%Particle_Name" project="false" />

	</extension>

	<!--
		<extension id="preferences"
		point="org.eclipse.core.runtime.preferences" name="preferences">
		<scope name="net.arctics.clonk"
		class="net.arctics.clonk.ui.ClonkProjectPreferences"/> </extension>
	-->


	<extension point="org.eclipse.ui.ide.resourceFilters">
		<filter pattern="*.c4d" selected="false">
			<description>
				Clonk object file
  			</description>
		</filter>
	</extension>

	<extension id="builder" name="C4DT Builder" point="org.eclipse.core.resources.builders">
		<builder hasNature="true">
			<run class="net.arctics.clonk.resource.ClonkBuilder" />
		</builder>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page class="net.arctics.clonk.preferences.ClonkPreferencePage"
			id="net.arctics.clonk.preferences.ClonkPreferencePage" name="Clonk" />
		<page class="net.arctics.clonk.preferences.SyntaxColoringPreferencePage"
			id="net.arctics.clonk.preferences.SyntaxColoringPreferencePage" name="%SyntaxColoringPrefPage"
			category="net.arctics.clonk.preferences.ClonkPreferencePage" />
		<page class="net.arctics.clonk.preferences.TogglesPreferencePage"
			id="net.arctics.clonk.preferences.TogglesPreferencePage" name="%TogglesPrefPage"
			category="net.arctics.clonk.preferences.ClonkPreferencePage" />
		<page class="net.arctics.clonk.preferences.EngineConfigurationPrefPage:OpenClonk" name="OpenClonk"
			id="net.arctics.clonk.preferences.EngineConfPage_OpenClonk"
			category="net.arctics.clonk.preferences.ClonkPreferencePage" />
		<page class="net.arctics.clonk.preferences.EngineConfigurationPrefPage:ClonkRage" name="Clonk Rage"
			id="net.arctics.clonk.preferences.EngineConfPage_ClonkRage"
			category="net.arctics.clonk.preferences.ClonkPreferencePage" />
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="net.arctics.clonk.preferences.ClonkPreferences" />
	</extension>

	<extension point="org.eclipse.ui.views">
		<category id="net.arctics.clonk" name="Clonk" />

		<view category="net.arctics.clonk" class="net.arctics.clonk.ui.EngineDeclarationsView"
			icon="icons/Clonk_C4.png" id="net.arctics.clonk.views.EngineDeclarationsView"
			name="%EngineDeclarations_Name" />
		
		<view category="net.arctics.clonk" class="net.arctics.clonk.ui.navigator.ClonkPreviewView"
			id="net.arctics.clonk.views.ClonkPreviewView"
			icon="icons/Clonk_C4.png"
			name="%ClonkPreview_Name" />
		
		<view category="net.arctics.clonk" class="net.arctics.clonk.ui.navigator.ClonkFolderView"
			id="net.arctics.clonk.views.ClonkFolderView"
			icon="icons/Clonk_C4.png"
			name="%ClonkFolderView_Name" />
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerTypeCategory name="%ClonkLogErrors">
			<markerTypeReference id="net.arctics.clonk.logerror" />
		</markerTypeCategory>
		
		<markerGrouping
			id="net.arctics.clonk.logErrorGrouping"
			label="%ClonkLogErrors" />
			
		<markerGroupingEntry id="net.arctics.clonk.logErrorGroupingEntry"
			label="%ClonkLogErrors"
			markerGrouping="net.arctics.clonk.logErrorGrouping"
			priority="100" />
	</extension>
	
	<extension id="net.arctics.clonk.c4scripterror" name="%C4ScriptError"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
	</extension>
	
	<extension id="net.arctics.clonk.c4scripterrorwhiletyping" name="%C4ScriptError"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
		<super type="net.arctics.clonk.c4scripterror" />
	</extension>
	
	<extension id="net.arctics.clonk.logerror" name="%ClonkLogError"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
	</extension>
	
	<extension id="net.arctics.clonk.inierror" name="%ConfigurationFileError"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.core.resources.problemmarker" />
		<super type="org.eclipse.core.resources.textmarker" />
	</extension>
	
	<!-- Debugger Breakpoints !-->
	
	<extension point="org.eclipse.debug.core.watchExpressionDelegates">
    	<watchExpressionDelegate
    		debugModel="net.arctics.clonk.ui.debug.ClonkDebugModelPresentation"
			delegateClass="net.arctics.clonk.debug.WatchExpressionDelegate">
    	</watchExpressionDelegate>
	</extension>
	
	<extension id="net.arctics.clonk.breakpointMarker" name="Clonk Breakpoint Marker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />
		<super type="org.eclipse.debug.core.breakpointMarker" />
	</extension>
	
	<extension point="org.eclipse.debug.core.breakpoints">
    	<breakpoint
			class="net.arctics.clonk.debug.Breakpoint"
			id="net.arctics.clonk.debug.ClonkDebugLineBreakpoint"
			markerType="net.arctics.clonk.breakpointMarker"
		/>
	</extension>
	
	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			class="net.arctics.clonk.debug.BreakpointAdapterFactory"
			adaptableType="net.arctics.clonk.ui.editors.c4script.C4ScriptEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget" />
		</factory>
	</extension>

	<!-- Commands accessible by menu items !-->

	<extension point="org.eclipse.ui.commands">
	
		<category id="net.arctics.clonk.commands" name="%ClonkCommands_Name" description="%ClonkCommands_Description" />
	
		<command categoryId="net.arctics.clonk.commands"
			description="%Meta_AboutDesc"
			id="net.arctics.clonk.ui.About"
			defaultHandler="net.arctics.clonk.ui.actions.AboutHandler"
			name="%Meta_About" />
		
		<command categoryId="net.arctics.clonk.commands"
			description="%Meta_CreateCustomizationProject"
			id="net.arctics.clonk.ui.CreateCustomizationProject"
			defaultHandler="net.arctics.clonk.ui.actions.CreateCustomizationProjectHandler"
			name="%Meta_CreateCustomizationProject" />
	
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%OpenDefinition_Desc"
			id="net.arctics.clonk.ui.OpenDefinition"
			defaultHandler="net.arctics.clonk.ui.navigator.actions.OpenDefinitionHandler"
			name="%OpenDefinition_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%OpenLocalResource_Desc"
			id="net.arctics.clonk.ui.OpenLocalResource"
			defaultHandler="net.arctics.clonk.ui.navigator.actions.OpenLocalResourceHandler"
			name="%OpenLocalResource_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%LookupDeclaration_Desc"
			id="net.arctics.clonk.ui.LookupDeclaration"
			defaultHandler="net.arctics.clonk.ui.navigator.actions.LookupDeclarationHandler"
			name="%LookupDeclaration_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%LookupLocalDeclaration_Desc"
			id="net.arctics.clonk.ui.LookupLocalDeclaration"
			defaultHandler="net.arctics.clonk.ui.navigator.actions.LookupLocalDeclarationHandler"
			name="%LookupLocalDeclaration_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%InvokeCommand_Desc"
			id="net.arctics.clonk.ui.InvokeCommand"
			defaultHandler="net.arctics.clonk.command.ui.actions.InvokeCommandHandler"
			name="%InvokeCommand_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%QuickExport_Desc"
			id="net.arctics.clonk.ui.QuickExport"
			defaultHandler="net.arctics.clonk.ui.navigator.QuickExportHandler"
			name="%QuickExport_Name" />
			
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%QuickImport_Desc"
			id="net.arctics.clonk.ui.QuickImport"
			defaultHandler="net.arctics.clonk.ui.navigator.QuickImportHandler"
			name="%QuickImport_Name" />
		
		<command categoryId="org.eclipse.ui.category.navigate"
			description="%ConvertLinkedGroups_Desc"
			id="net.arctics.clonk.ui.ConvertLinkedGroups"
			defaultHandler="net.arctics.clonk.ui.navigator.ConvertLinkedGroupsHandler"
			name="%ConvertLinkedGroups_Name" />

		<command categoryId="net.arctics.clonk.commands"
			description="%TidyUpCode_Desc"
			id="net.arctics.clonk.ui.editors.actions.TidyUpCode"
			name="%TidyUpCode_Name" />
		
		<command categoryId="net.arctics.clonk.commands"
			description="%TidyUpCodeInBulk_Desc"
			id="net.arctics.clonk.ui.navigator.actions.TidyUpCodeInBulk"
			defaultHandler="net.arctics.clonk.ui.navigator.TidyUpCodeInBulkHandler"
			name="%TidyUpCodeInBulk_Name" />
		
		<command categoryId="net.arctics.clonk.commands"
            description="%FindDuplicates_Desc"
            id="net.arctics.clonk.ui.editors.actions.FindDuplicates"
            defaultHandler="net.arctics.clonk.ui.editors.FindDuplicatesHandler"
            name="%FindDuplicates_Name" />
		
		<command categoryId="net.arctics.clonk.commands"
			description="%LinkC4GroupFile_Desc"
			id="net.arctics.clonk.ui.navigator.actions.LinkC4GroupFile"
			defaultHandler="net.arctics.clonk.ui.navigator.LinkC4GroupFileHandler"
			name="%LinkC4GroupFile_Name"
		/>

		<command categoryId="net.arctics.clonk.commands"
			description="%OpenDeclaration_Desc"
			id="net.arctics.clonk.ui.editors.actions.OpenDeclaration"
			name="%OpenDeclaration_Name" />
		
		<command categoryId="net.arctics.clonk.commands"
			description="%OpenC4ScriptSearch_Desc"
			id="net.arctics.clonk.ui.editors.actions.C4ScriptSearch"
			name="%OpenC4ScriptSearch_Name" />

		<command categoryId="net.arctics.clonk.commands"
			description="%FindReferences_Desc"
			id="net.arctics.clonk.ui.editors.actions.FindReferences"
			name="%FindReferences_Name" />

		<command categoryId="net.arctics.clonk.commands"
			description="%RenameDeclaration_Desc"
			id="net.arctics.clonk.ui.editors.actions.RenameDeclaration"
			name="%RenameDeclaration_Name" />
		
		<!-- FIXME: what was that supposed to do -->
		<command categoryId="net.arctics.clonk.commands"
			description="%DeclarationFilter_Desc"
			id="net.arctics.clonk.ui.editors.actions.DeclarationFilter"
			name="%DeclarationFilter_Name" />
		
		<command categoryId="net.arctics.clonk.commands"
			description="%ToggleComment_Desc"
			id="net.arctics.clonk.ui.editors.actions.ToggleComment"
			name="%ToggleComment_Name" />

	</extension>

	<extension point="org.eclipse.ui.menus">
	
		<!-- Main menu !-->
		<menuContribution locationURI="menu:org.eclipse.ui.main.menu">
			<menu label="Clonk">
				<command commandId="net.arctics.clonk.ui.OpenDefinition" label="%OpenDefinition_Name" />
				<command commandId="net.arctics.clonk.ui.OpenLocalResource" label="%OpenLocalResource_Name" />
				<command commandId="net.arctics.clonk.ui.LookupDeclaration" label="%LookupDeclaration_Name" />
				<command commandId="net.arctics.clonk.ui.LookupLocalDeclaration" label="%LookupLocalDeclaration_Name" />
				<separator name="SeparatorAfterOpenCommands" visible="true"/>
				<command commandId="net.arctics.clonk.ui.QuickImport" label="%QuickImport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer" />
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.QuickExport" label="%QuickExport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer" />
						</iterate>
					</visibleWhen>
				</command>
				<separator name="SeparatorAfterImportCommands" visible="true"/>
				<command commandId="net.arctics.clonk.ui.InvokeCommand" label="%InvokeCommand_Name" />
				<command commandId="net.arctics.clonk.ui.CreateCustomizationProject" label="%Meta_CreateCustomizationProject" />
				<command commandId="net.arctics.clonk.ui.About" label="%Meta_About" />
			</menu>
		</menuContribution>
		
		<menuContribution locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
			<!-- Project Explorer Menu for Clonk projects !-->
			<menu label="Clonk">
				<visibleWhen checkEnabled="false">
					<iterate operator="and" ifEmpty="false"> 
						<test property="org.eclipse.core.resources.projectNature"  value="net.arctics.clonk.clonknature" />
					</iterate> 
				</visibleWhen>
                <command commandId="net.arctics.clonk.ui.QuickExport" label="%QuickExport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.QuickImport" label="%QuickImport_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer">
							</adapt>
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.ConvertLinkedGroups" label="%ConvertLinkedGroups_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IContainer" />
						</iterate>
					</visibleWhen>
				</command>
				<separator name="AfterImportExport" visible="true" />
				<menu label="%ColorTag_Name">
					<dynamic id="net.arctics.clonk.ui.ColorTagging" class="net.arctics.clonk.ui.navigator.ColorTagging" />
				</menu>
				<separator name="AfterImportExportSeparator" visible="true" />
				<command commandId="net.arctics.clonk.ui.navigator.actions.TidyUpCodeInBulk" label="%TidyUpCode_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IResource" />
						</iterate>
					</visibleWhen>
				</command>
				<command commandId="net.arctics.clonk.ui.editors.actions.FindDuplicates" label="%FindDuplicates_Name">
                    <visibleWhen checkEnabled="false">
                        <iterate ifEmpty="false">
                            <adapt type="org.eclipse.core.resources.IResource" />
                        </iterate>
                    </visibleWhen>
                </command>
				<separator name="AfterCodeConversionSeparator" visible="true" />
				<command commandId="net.arctics.clonk.ui.navigator.actions.LinkC4GroupFile" label="%LinkC4GroupFile_Name">
					<visibleWhen checkEnabled="false">
						<iterate ifEmpty="false">
							<adapt type="org.eclipse.core.resources.IProject" />
						</iterate>
					</visibleWhen>
				</command>
			</menu>
			
			<!-- Project Explorer menu for C4DT customization projects !-->
			<menu label="C4DT Customization">
				<visibleWhen checkEnabled="false">
					<iterate operator="and" ifEmpty="false"> 
						<test property="org.eclipse.core.resources.projectNature" value="net.arctics.clonk.c4dt_customization" /> 
					</iterate> 
				</visibleWhen>
				<menu label="%CustomizeFile_Title">
					<dynamic class="net.arctics.clonk.ui.navigator.actions.CustomizationDynamicMenuItem" id="net.arctics.clonk.ui.navigator.actions.CustomizationDynamicMenuItem" />
				</menu>
			</menu>
			
		</menuContribution>
		
	</extension>

	<extension id="product" point="org.eclipse.core.runtime.products">
		<product application="org.eclipse.ui.ide.workbench" name="Clonklipse">
			<property name="windowImages" value="res/DistroIcon16x16.gif,res/DistroIcon32x32.gif,res/DistroIcon48x48.gif,res/DistroIcon64x64.gif" />
			<property name="aboutText" value="Clonk Development Tools for Eclipse" />
			<property name="startupForegroundColor" value="C8D5EA" />
			<property name="startupProgressRect" value="0,280,455,15" />
			<property name="startupMessageRect" value="7,220,441,20" />
			<property name="appName" value="Clonklipse" />
			<property name="preferenceCustomization" value="plugin_customization.ini" />
		</product>
	</extension>
	
	<extension point="org.eclipse.ui.decorators"><!--icon="icons/C4Object.png"-->
		<decorator adaptable="true"
			class="net.arctics.clonk.ui.LightweightLabelDecorator" id="net.arctics.clonk.decorator"
			label="Resource Decorator" lightweight="true" state="true">
			<enablement>
				<or>
					<objectClass name="org.eclipse.core.resources.IFolder" />
					<objectClass name="org.eclipse.core.resources.IFile" />
					<objectClass name="org.eclipse.core.resources.IProject" />
				</or>
			</enablement>
		</decorator>
	</extension>

	<extension id="ClonkSearchResultPage" point="org.eclipse.search.searchResultViewPages">
		<viewPage id="net.arctics.clonk.ui.ClonkSearchResultPage"
			searchResultClass="net.arctics.clonk.ui.search.ClonkSearchResult"
			class="net.arctics.clonk.ui.search.ClonkSearchResultPage" />
		<viewPage id="net.arctics.clonk.ui.FindDuplicatesSearchResultPage"
			searchResultClass="net.arctics.clonk.ui.search.FindDuplicatesSearchResult"
			class="net.arctics.clonk.ui.search.FindDuplicatesSearchResultPage" />
	</extension>
	
	<extension point="org.eclipse.search.searchPages">
		<page class="net.arctics.clonk.ui.search.C4ScriptSearchPage"
    		id="net.arctics.clonk.ui.C4ScriptSearchPage"
			label="%SearchPage_Title"
			icon="icons/c4scriptIcon.png"
			showScopeSection="true"
			canSearchEnclosingProjects="true"
			enabled="true">
		</page>
	</extension>
	
	<extension point="org.eclipse.debug.core.sourceLocators">
	    <sourceLocator
	          class="net.arctics.clonk.debug.SourceLookupDirector"
	          id="net.arctics.clonk.debug.ClonkDebugSourceLocator"
	          name="Clonk Debug Source Locator">
	    </sourceLocator>
	</extension>
	
	<extension point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
        	class="net.arctics.clonk.ui.debug.ClonkDebugModelPresentation"
        	id="net.arctics.clonk.ui.debug.ClonkDebugModelPresentation">
		</debugModelPresentation>
	</extension>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType id="net.arctics.clonk.debug.ClonkLaunch"
			delegate="net.arctics.clonk.debug.ClonkLaunchConfigurationDelegate"
			modes="run,debug" name="Clonk" 
			sourceLocatorId="net.arctics.clonk.debug.ClonkDebugSourceLocator"
		/>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage icon="icons/Clonk_engine.png"
			configTypeID="net.arctics.clonk.debug.ClonkLaunch" id="net.arctics.clonk.ui.debug.ClonkLaunchTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup type="net.arctics.clonk.debug.ClonkLaunch"
			class="net.arctics.clonk.ui.debug.ClonkLaunchTabGroup" id="net.arctics.clonk.ui.debug.ClonkLaunch" />
	</extension>

	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester id="net.arctics.clonk.resource.ResourceTester"
			namespace="net.arctics.clonk.resource" properties="isScenario,isDefinition,isFolder,isResource,isInScenario,isInClonkProject,isPackedGroup"
			type="org.eclipse.core.resources.IResource" class="net.arctics.clonk.resource.ResourceTester" />

		<propertyTester id="net.arctics.clonk.resource.ResourceTesterEditor"
			namespace="net.arctics.clonk.resource.editor" properties="isScenario,isDefinition,isFolder,isResource,isInScenario"
			type="org.eclipse.ui.part.FileEditorInput" class="net.arctics.clonk.resource.ResourceTester" />

	</extension>

	<extension point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut id="net.arctics.clonk.ui.debug.ClonkLaunchShortcut"
			class="net.arctics.clonk.ui.debug.ClonkLaunchShortcut" label="Clonk Scenario"
			icon="$nl$/icons/Clonk_engine.png" modes="run,debug">
			<contextualLaunch>
				<enablement>
					<!--
						Enable only if there is only one element selected and it's a
						resource inside a scenario - or an editor for a resource inside a
						scenario
					-->
					<count value="1" />
					<with variable="selection">
						<iterate ifEmpty="false" operator="or">
							<test property="net.arctics.clonk.resource.isInScenario" />
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
			<configurationType id="net.arctics.clonk.debug.ClonkLaunch" />
		</shortcut>
	</extension>

	<extension point="org.eclipse.ui.navigator.linkHelper">
		<linkHelper class="net.arctics.clonk.ui.navigator.LinkHelper"
			id="net.arctics.clonk.navigator.linkhelper">
			<selectionEnablement>
				<or>
					<instanceof value="net.arctics.clonk.util.ITreeNode" />
					<instanceof value="net.arctics.clonk.parser.Declaration" />
				</or>
			</selectionEnablement>
			<editorInputEnablement>
				<instanceof
					value="net.arctics.clonk.ui.editors.c4script.ScriptWithStorageEditorInput" />
			</editorInputEnablement>
		</linkHelper>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator markerType="net.arctics.clonk.c4scripterror"
			class="net.arctics.clonk.parser.c4script.quickfix.C4ScriptMarkerResolutionGenerator">
		</markerResolutionGenerator>
	</extension>
	
	<extension point="org.eclipse.core.filesystem.filesystems">
    	<filesystem scheme="c4group">
			<run class="net.arctics.clonk.resource.c4group.C4GroupFileSystem" />
		</filesystem>
	</extension>
	
	<extension point="org.eclipse.debug.ui.consoleLineTrackers">
		<consoleLineTracker
			class="net.arctics.clonk.debug.ConsoleOutputLineTracker"
			id="net.arctics.clonk.debug.ConsoleOutputLineTracker"
			processType="clonkEngine">
		</consoleLineTracker>
	</extension>
	<extension id="net.arctics.clonk.cli.CLI" point="org.eclipse.core.runtime.applications">
		<application cardinality="singleton-global" thread="main" visible="true">
			<run class="net.arctics.clonk.cli.CLI"/>
		</application>
	</extension>
	
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="net.arctics.clonk.ui.OpenDefinition"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+M2+T">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.FindReferences"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="F4">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.OpenDeclaration"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="F3">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.C4ScriptSearch"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+M3+F">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.TidyUpCode"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+I">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.RenameDeclaration"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+M3+R">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.ToggleComment"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+M2+C">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.FindDuplicates"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+M2+D">
		</key>
		<key
			commandId="net.arctics.clonk.ui.editors.actions.DeclarationFilter"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+M3+O">
		</key>
		<key
			commandId="net.arctics.clonk.ui.LookupLocalDeclaration"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="net.arctics.clonk.context"
			sequence="M1+O">
		</key>
	</extension>
	
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="net.arctics.clonk.ui.editors.ScenarioProperties"
			id="net.arctics.clonk.ui.editors.ScenarioProperties"
			name="%ScenarioProperties">
			<enabledWhen>
				<and>
					<instanceof value="org.eclipse.core.resources.IContainer"/>
					<test property="net.arctics.clonk.resource.isScenario" />
				</and>
			</enabledWhen>
		</page>
	</extension>
</plugin>
